
#calculator {
	display: grid;
	grid-template-columns: repeat(4, minmax(70px, 120px));
	grid-auto-rows: 70px;
	column-gap: 10px;
  	row-gap: 1em;

  	font-size: 20px;
	font-weight: bold;
	color: #687e00;
	background: black;
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	width: max-content;
	margin: auto;
}
#display {
	grid-column-start: 1;
	grid-column-end: 5;
	border: 5px solid #687e00;

	display: grid;
	grid-auto-rows: 1fr;
	padding: 10px;
}

.button {
	font-size: 20px;
	font-weight: bold;
	background: #b7de01;
	box-shadow: 0px 5px #687e00;
	color: #687e00;
}
.button:hover {
	opacity: 0.75;
	box-shadow: 0px 4px #435100;
	color: #687e00;
}

.button:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.equal {
	grid-row-start: 6;
	grid-column-start: 1;
	grid-column-end: 3;

	background: #e2f2e2;
}
.clear {
	grid-row-start: 2;
	grid-column-start: 4;

	background: #d2e8e1;
}
.backspace {
	grid-row-start: 3;
	grid-column-start: 4;

	background: #d2e8e1;
}
.plus {
	grid-row-start: 4;
	grid-column-start: 4;
}
.divide {
	grid-column-start: 4;
	grid-row-start: 6;
}
.modulus {
	grid-row-start: 6;
	grid-column-start: 3;
}
.decimal {
	grid-column-start: 1;
	grid-row-start: 5;
}



.operator {
	background: #97dfa6f0;
}
.number {
	background: #dce8a6;
}


